@import "custom";

.navbar {
    .navbar-fixed-top {
        height: 2rem;
    }

    .navbar-brand-text {
        padding-right: 0.5rem;
        font-family: $font-family-monospace;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .navbar-brand-img {
        height: 3rem;
        padding: 0;
    }

    .nav-item {
        font-family: $font-family-monospace;
        font-size: 1rem;
        padding: 0.25rem;
    }

    .navbar-toggler {
        border: $white solid;
    }
    //.dropdown-menu {
    //    background-color: $utdorange;
    //    //border-color: $utdorange;
    //    //@include media-breakpoint-up(md) {
    //    //    border: solid $utdgreen;
    //    //    border-top: none;
    //    //    border-radius: 0 0 0.25rem 0.25rem;
    //    //    margin-top: 0.65rem;
    //    //}
    //    a {
    //        color: $white;
    //    }
    //    li > a:hover {
    //        background-color: $utdorange;
    //        color: $utdspark;
    //    }
    //}
}

%button-prefixes {
    %btn-icon-base {
        font-family: FontAwesome;
        padding-right: 1rem;
        float: left;
    }
    .btn-download:before {
        @extend %btn-icon-base;
        content: "\f019";
    }
    .btn-extern:before {
        @extend %btn-icon-base;
        content: "\f08e";
    }
    .btn-knowledge:before {
        @extend %btn-icon-base;
        content: "\f087";
    }
    .btn-reading:before {
        @extend %btn-icon-base;
        content: "\f02d";
    }
    .btn-assign:before {
        @extend %btn-icon-base;
        content: "\f044";
    }
    .btn-discussion:before {
        @extend %btn-icon-base;
        content: "\f0e6";
    }
    .btn-movie:before {
        @extend %btn-icon-base;
        content: "\f008";
    }
    .btn-template:before{
        @extend %btn-icon-base;
        content: "\f121";
    }

}
.navbar.bg-inverse {
    border-bottom: #008542 solid 0.3rem;
}

%page_defaults {
    padding-top: 5rem;
    @include media-breakpoint-up(md){
        padding-bottom: 25rem;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 30rem;
    }
}

.nav-pills {
    font-family: $font-family-monospace;
}

@mixin sidebar_template_mixin($head_margin, $head_padding, $sidebar_offset: $head_padding) {
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: $head_margin;
        padding-top: $head_padding;
    }

    .sidebar-fixed {
        top: $sidebar_offset;
        position: fixed;
    }

    .sidebar {

    }

}

$top-margin-default: -5rem;
$top-padding-default: 5.75rem;

body {
    @extend %page_defaults;
}

.basic_template {
    @extend %page_defaults;
}

.home_template {
    @extend %page_defaults;
    .title {
        text-align: center;
        color: $utdorange;
        padding-top: 1rem;
    }
}

.sidebar_template {
    @extend %page_defaults;
    @extend %button-prefixes;
    @include sidebar_template_mixin($top-margin-default, $top-padding-default);
}

.module_template {
    @extend %page_defaults;
    @extend %button-prefixes;
    @include sidebar_template_mixin($top-margin-default, $top-padding-default, $top-padding-default - 0.15rem);

    #moduleSelector {
        %module-selector-base {
            background-color: $utdgreen;
            color: $white;
            font-family: $font-family-monospace;
            border-color: $utdgreen;
        }
        #current {
            font-size: 1.5rem;
        }
        .nav-link {
            @extend %module-selector-base;
            font-size: 1rem;
        }
        .dropdown-menu {
            @extend %module-selector-base;
            width: 100%;
            border-radius: 0 0 0.25rem 0.25rem;
            margin: -0.125rem 0 0;
        }
    }

    .module-title {
        color: $utdgreen;
        padding-bottom: 0.75rem;
        border-bottom: solid $utdgreen 0.25rem;
        margin-bottom: 1.5rem;
    }

    #mainContent {
        ol, ul {
            li {
                padding-bottom: 1rem;
            }
        }
        blockquote {
            ol, ul {
                li {
                    padding: 0;
                }
            }
        }
        .definition {
            color: $utdspace;
            font-weight: bold;
            font-style: italic;
        }
    }
    .btn-todo {
        background-color: darkred;
        color: $white;
        border: 0;
    }
    .btn-todo:before {
        content: "\f10c";
        font-family: FontAwesome;
    }
    .btn-todo.active {
        background-color: $utdgreen;
    }
    .btn-todo.active:before {
        content: "\f00c";
        font-family: FontAwesome;
    }
    .todo-list {
        .row {
            padding: 0.25rem 0 0.25rem 0;
        }
        padding: 0.5rem 0 0.5rem 0;
    }
    .todo-item {
        padding: 0.25rem 0 0.25rem 0;
    }
    .subtask {
        font-size: 0.9rem;
        padding: 0.5rem 0 0.5rem 0;
        .todo-item {
            padding: 0.2rem 0 0.2rem 0;
        }
    }
}

.module_landing_template {
    @extend %page_defaults;

    #moduleSelector {
        .nav-link {
            background-color: $utdgreen;
            color: $white;
        }
        .nav-link:hover {
            background-color: $utdorange;
        }

        .nav-link.disabled, .nav-link.disabled:hover {
            background-color: $utdgrey4;
        }
    }
    .row {
        padding: 1rem;
    }
}

ol {

}

.h2, h2 {
    color: $utdgreen;
}

.h3, h3 {
    color: $utdstratos;
}

.table td, .table th {
    border-top-width: 0;
}

.fa.fa-footer {
    font-size: 2rem;
}

.fa.fa-footer:hover {
    color: $utdgreen;
}

footer {
    .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
        color: $white;
    }

    #mc_embed_signup .form-group {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        padding: 0;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: $utdorange;
    border-top: 5px solid $utdgreen;
    color: $white;
    font-size: 14px;

    .row.footer-title {
        border-bottom: white solid 0.05rem;
        padding-bottom: 0.1rem !important;
        text-align: left;
    }
    .figuration-reference {
        border-top: solid white 0.1rem;
        padding-top: 0.15rem;

        a {
            text-decoration: none;
            font-family: $font-family-monospace;
            font-size: small;
        }
    }
}

.btn-inverse {
    background: transparent;
    border-color: $white;
    color: $white;
    border-width: 0.15rem;
}

.btn-inverse:hover {
    background: $utdgreen;
    border-color: $utdgreen;
    color: inherit;
}