<footer class="footer">
    <div class="container">
        <div class="row hide-md-up">
                    {% for soc in SOCIAL %}
                        <div class="col-3">
                            <a href="{{ soc[1] }}" target="_blank"><i class="fa {{ soc[2] }} fa-footer fa-fw mx-auto"></i></a>
                        </div>
                    {% endfor %}
                </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <a href="http://utdallas.edu" class="footer-brand" target="_blank"><img class="img-responsive"
                                                                            src="{{ SITEURL }}/static/images/header_nsm_white_low.png"></a>
                </div>
                <div class="row">
                    <a href="https://stemcenter.utexas.edu/" class="footer-brand" target="_blank"><img
                            src="{{ SITEURL }}/static/images/CSTEM-wordmark-white.png"></a>
                </div>
            </div>
            <div class="col-md-4 hide-sm-down">
                <div class="row">
                    <h2 class="footer-title">Contact Us!</h2>
                </div>
                <div class="row">
                    {% for soc in SOCIAL %}
                        <div class="col-3">
                            <a href="{{ soc[1] }}" target="_blank"><i class="fa {{ soc[2] }} fa-footer fa-fw mx-auto"></i></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <div class="col-md-4 hide-sm-down">
            {% include 'partials/mailchimp_signup.html' %}
        </div>
        </div>
    </div>
</footer>