<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <a href="http://utdallas.edu" class="footer-brand"><img class="img-responsive" src="{{ SITEURL }}/static/images/header_nsm_white_low.png"></a>
                </div>
                <div class="row">
                    The UT Dallas WeTeach_CS Collaborative is housed in the <a href="http://utdallas.edu/scimathed">Science/Mathematics
                    Education Department</a> in the <a href="http://www.utdallas.edu/nsm/index.html">School of Natural
                    Sciences & Mathematics</a>.
                </div></div>
{#                                <hr />#}
                <div class="col-md-4">
                <div class="row">
                <a href="https://stemcenter.utexas.edu/" class="footer-brand"><img src="{{ SITEURL }}/static/images/CSTEM-wordmark-white.png"></a>
                </div>
                <div class="row">
                    WeTeach_CS is a program of The University of Texas at Austin’s Center for STEM Education, a research,
                    teaching, and service unit of the College of Education.
                </div>
                </div>
            <div class="col-md-4">
                <div class="row">This is a footer!!</div>

            </div>
        </div>
    </div>
</footer>