<header class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <div class="container">
        <nav>
            <button class="navbar-toggler hide-lg-up float-right" type="button" data-cfw="collapse" data-cfw-collapse-toggle="#respNav1"
                    data-cfw-collapse-hidden="false" aria-label="Toggle navigation">&#8801;</button>
            <a href="{{ SITEURL }}/" class="navbar-brand"><img src="{{ SITEURL }}/static/images/weteachcs_utd_logo_graphic_small.png"></a>
            <div class="collapse navbar-toggleable-md" id="respNav0">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" role="button" class="nav-link dropdown-toggle" data-cfw="dropdown" data-cfw-dropdown-toggle="#info-dropdown">Program Info</a>
                        <ul class="dropdown-menu" id="info-dropdown">
                            <li><a href="{{ SITEURL }}/syllabus/" class="dropdown-item">Syllabus</a></li>
                            <li><a href="{{ SITEURL }}/calendar/" class="dropdown-item">Calendar</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a href="{{ SITEURL }}/instructors/" class="dropdown-item">Instructors</a></li>
                            <li><a href="http://utdallas.edu/scimathed" class="dropdown-item">UTD Science/Mathematics Education</a></li>
                        </ul>
                    </li>
                    {#                <li class="dropdown">#}
                    {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Modules <span class="caret"></span></a>#}
                    {#                    <ul class="dropdown-menu" role="menu">#}
                    {#                        <li><a href="/module-0/">Module 0: Computational Thinking</a></li>#}
                    {#                        <li><a href="/calendar/">Calendar</a></li>#}
                    {#                        <li class="divider"></li>#}
                    {#                        <li><a href="/instructors/">Instructors</a></li>#}
                    {#                        <li><a href="http://utdallas.edu/scimathed">UTD Science/Mathematics Education</a></li>#}
                    {#                    </ul>#}
                    {#                </li>#}
                    {#                <li><a href="/resources/">Resources</a></li>#}
                </ul>
            </div>
        </nav>
    </div>

</header>