.navbar-lower {
  top: 50px;
  padding: 0;
  min-height: 30px;
}
#lowernavbar li>a{
    padding-top: 6px;
    padding-bottom: 6px;
}

body {
  padding-top: 80px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: -68px;
  padding-top: 80px;
}

.sidebar {
    /*background-color: #008542;*/
    top: 88px;
    position: fixed;
}