{% extends "basic.html" %}

{% block content %}
    <div class="row">
        <div class="container-fluid">
            <h2 class="title hide-md-up">UT Dallas WeTeach_CS Collaborative</h2>
            <h1 class="title hide-sm-down">UT Dallas WeTeach_CS Collaborative</h1>
            <hr class="my-1">
        </div>
    </div>
    <div class="row" style="padding-top: 2rem">
        <div class="col-md-6">
            <img src="{{ SITEURL }}/static/images/utdweteachcslogo.png" class="img-responsive"
                 alt="UT Dallas WeTeach_CS Logo">
        </div>
        <div class="col-md-6">
            {#        <h1 class="mx-auto">UT Dallas WeTeach_CS Collaborative</h1>#}
            <h2>Texas teachers learn computer science!</h2>
{#            <p>Texas is facing a critical shortage of computer science teachers. If you are a certified 6-12 math#}
{#                or science teacher, this three-part course will prepare you to take the 8-12 Computer Science#}
{#                exam and successfully transition from your current subject to the Computer Science classroom or#}
{#                incorporate CS into your current math or science classes.</p>#}
                        <p class="lead">The application for the 2018 UT Dallas WeTeach_CS Program will be released soon!
                            If you would like to be
                            notified when the application goes live,
                            <a href="http://eepurl.com/cDJOLL">please fill out our contact form</a>. If you have
                        any questions, please contact Georgia Stuart at georgia.stuart AT utdallas.edu</p>
{#            <p class="lead">To apply, pleae complete <a#}
{#                    href="https://utdallas.qualtrics.com/jfe/form/SV_9Gl9XaJkBDRZ1nT">the application</a>#}
{#                by Monday, August 14, 2017 at 11:59 pm. Decisions will be announced on Wednesday, August 16.</p>#}
        </div>


        <h2 id="who-is-eligible">Who is eligible?</h2>

        <p>To enroll, you must be a teacher certified in math or science. </p>


        <h2 id="is-prior-programming-experience-required">Is prior programming experience required?</h2>

        <p>No! We will start with the basics. </p>


{#        <h2 id="whats-covered">What’s covered?</h2>#}
{##}
{#        <p>The three courses will cover everything outlined in the TEXES Computer Science 241 standards for Domain II -#}
{#            Program Design and Development and Domain III - Programming Language Topics. In addition, the third course#}
{#            focuses on Domain IV - Special Topics (robotics, game programming, digital forensics, and discrete math). </p>#}
{##}
{#        <p>We also focus on the TEKS for Computer Science I and II and the standards for AP Computer Science Principles.#}
{#            This course will <strong>not</strong> be effective preparation for AP Computer Science A. </p>#}
{##}
{##}
{#        <h2 id="format">Format</h2>#}
{##}
{#        <p>Computer Science for Texas Teachers is a one year course split into three sessions: August 21 through December 4, 2017,#}
{#            January 8 through April 30, 2018, and June 4 through July 21, 2018.#}
{#            Each course will be taught with a blended model–there will be <strong>significant online instruction and#}
{#                interaction</strong>. In addition, attendance at one in-person session per week (Monday, 5:30 pm to 8:15 pm)#}
{#            is required. The in-person session will#}
{#            be held on the UT Dallas campus in Richardson, TX.</p>#}
{##}
{##}
{##}
        <h2 id="eligibility-for-graduate-credit">Eligibility for graduate credit</h2>
{##}
        <p>Both courses will be eligible for graduate credit towards the Masters of Arts in Teaching for either Science
            Education or Math Education. Some scholarships are available for those who wish to enroll for graduate
            credit, but it is <strong>not</strong> required to participate in the program.</p>
{##}
{#        <h2 id="cost">Cost</h2>#}
{#        <p>The entire program costs <strong>$150</strong>. This fee includes all materials, textbooks, UT Dallas fees,#}
{#        and parking. This does <strong>not</strong> include tuition if you wish to take the class for graduate credit towards#}
{#            an M.A.T., but some scholarship money is available for those who wish to do so.</p>#}
{##}
{#        <p>If you are a member of the UT Dallas Mathematics Collaborative or Science Collaborative, the $150 fee is waived.</p>#}

        <h2 id="grant-funding-and-goodies">Grant funding</h2>

{#        <p>Thanks to the <strong>TI Foundation</strong>, we are able to supply all participants with TI-Nspires,#}
{#            Innovator Hubs, and accessories. </p>#}

        <p>The UT Dallas WeTeach_CS Collaborative is made possible by grants from our funders,
            <a href="http://weteachcs.org" target="_blank">The WeTeach_CS project</a> at the
            <a href="https://stemcenter.utexas.edu/" target="_blank">The Center for STEM Education at UT Austin</a>
            and
            <a href="https://www.ti.com/" target="_blank">Texas Instruments</a>. The project team is a mix of
            faculty
            from the UT Dallas <a href="http://utdallas.edu/sme" target="_blank">Department of Science/Mathematics
                Education</a>,
            Master of Arts in Teaching Programs, <a href="http://www.utdallas.edu/uteach/" target="_blank">UTeach
                Dallas</a>, and the
            <a href="http://cs.utdallas.edu/" target="_blank">UT Dallas Department of Computer Science</a>. Dr. Mary
            Urquhart,
            Head of Science/Mathematics Education, is the Project Director. Georgia Stuart is Lead Instructor and
            Project Co-Director.
        </p>
    </div>
{% endblock content %}