{% extends 'basic.html' %}

{% set module_url_base = 'content/pages/modules/' %}

{% block content %}

    <div class="row">
    {{ page.content }}
    </div>
    <div class="row">
    <ul class="nav nav-pills nav-stacked" id="moduleSelector">
    {% for module in module_url_base|get_modules %}
                    <li class="nav-item">
                        <a class="nav-link {% if not module['visible'] %}disabled{% endif %}"
                           href="{{ SITE_URL }}/{{ module['directory'] }}">{{ module['title'] }}
                            <div class="float-right">{{ module['date_posted'] }}</div>
                        </a>
                    </li>
            {% endfor %}
    </ul>
    </div>

{% endblock content %}