{% extends 'page_base.html' %}

{% if page.template == 'sidebar' %}
    {% set toc = page.toc %}
{% endif %}

{% if page.template == 'module' %}
    {% set disabled = False %}
    {% if not settings['visible'] %}
        {% set disabled = True %}
    {% endif %}
{% endif %}

{% block title %}{{ super() }} - {{ page.title }}{% endblock title %}

{% block content %}

    <div class="row">
        <!--Nav Bar -->
        <div class="col-sm-3 sidebar">
            {% if page.scrollspy == 'true' %}
        </div>
        <div class="affix-top sidebar-fixed hide-sm-down" id="sidebar">
        {% endif %}
            {% block sidebar_block %}
                <ul class="nav nav-pills nav-stacked">
{#                    {% if page.template == 'module' %}data-cfw="slideshow"{% endif %}>#}
                    {% block above_sidebar %}{% endblock above_sidebar %}
                    {% for header, ref in (toc|load_json).items() %}
                        <li class="nav-item {% if ref == "overview" %}active{% endif %}">
                            <a class="nav-link"
                               {% if page.template == 'module' %}data-cfw="tab"{% endif %}
                               href="#{{ ref }}">{{ header }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock sidebar_block %}
        </div>
        <!--Main Content -->
        <div class="col-sm-9" id="mainContent">
            {% block main_content %}{{ page.content }}{% endblock main_content %}
        </div>
    </div>{% endblock content %}

{% block js %}{{ super() }}
    {% if page.scrollspy == 'true' %}
    <script type="text/javascript">
        $('body').CFW_Scrollspy({
            target: '#sidebar',
            offset: 40
        });
    </script>
    {% endif %}
{% endblock %}