{% extends 'page_base.html' %}

{% block header %}{{ super() }}
<link href="{{ SITEURL }}/static/css/sidebar.css" rel="stylesheet">
{% endblock %}
{% block title %}{{ super() }} - {{ page.title }}{% endblock %}

{% block content %}
    <div class="row">
    <!--Nav Bar -->
    <nav class="col-md-3">
        {% block sidebar_block %}
            <div class="affix-top hide-sm-down sidebar" id="sidebar">
                <ul class="nav nav-pills nav-stacked" {% if page.template == 'module' %}data-cfw="slideshow"{% endif %}>
                  {% for header, ref in (page.toc|load_json).items() %}
                      <li class="nav-item"><a class="nav-link" {% if page.template == 'module' %}data-cfw="tab"{% endif %} href="{{ ref }}">{{ header }}</a></li>
                  {% endfor %}
                </ul>
            </div>
        {% endblock sidebar_block %}
    </nav>
    <!--Main Content -->
    <div class="col-md-9">
    {{ page.content }}
    </div>
    </div>{% endblock %}

{% block js %}{{ super() }}
<script src="{{ SITEURL }}/static/js/sidebar.js"></script>
{% endblock %}